/**
 * ----------------------------------------------------------------------------------------
 * Header styles.
 * ----------------------------------------------------------------------------------------
 */

/**
 * Main header.
 */
.site-header {
	.header-contents {
		@extend .container;
		.site-logo {
			a {
				display: inline-block;
			}
		}
		.top {
			@extend .row;
		}
		.logo-holder {
			@extend .col-xs-3;
		}
		.nav-holder {
			@extend .col-xs-9;
		}
		#slider_holder {
			@extend .col-md-12;
			color:white;
		}
	}

  a.offer_link{
      color: #fff;
      &:hover {
         color: #fff;
       }
     }

	/* jssor slider bullet navigator skin 03 css */
              /*
              .jssorb03 div           (normal)
              .jssorb03 div:hover     (normal mouseover)
              .jssorb03 .av           (active)
              .jssorb03 .av:hover     (active mouseover)
              .jssorb03 .dn           (mousedown)
              */
              .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av
              {
                    background: url('../images/b06.png') no-repeat;
                    overflow:hidden;
                    cursor: pointer;
              }
              .jssorb03 div { background-position: -5px -4px; }
              .jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
              .jssorb03 .av { background-position: -65px -4px; }
              .jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }

	/* jssor slider arrow navigator skin 03 css */
            /*
            .jssora03l              (normal)
            .jssora03r              (normal)
            .jssora03l:hover        (normal mouseover)
            .jssora03r:hover        (normal mouseover)
            .jssora03ldn            (mousedown)
            .jssora03rdn            (mousedown)
            */
            .jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn
            {
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background: url('../images/a06.png') no-repeat;
                overflow:hidden;
            }
            .jssora03l { background-position: -3px -33px; }
            .jssora03r { background-position: -63px -33px; }
            .jssora03l:hover { background-position: -123px -33px; }
            .jssora03r:hover { background-position: -183px -33px; }
            .jssora03ldn { background-position: -243px -33px; }
            .jssora03rdn { background-position: -303px -33px; }

}